<div class="container">
  <div class="search mt-2">
<form #form="ngForm" (submit)="onSubmit()" >
  
  <input class="br-0" type="date" placeholder="date" 
  name="date" [(ngModel)]="date"  required>
  <input class="br-0" type="text" placeholder="City" 
  name="city" [(ngModel)]="cityName" maxlength="10" required>
  <input class="br-0" type="text" placeholder="Country" 
  name="country" [(ngModel)]="countryName" maxlength="10" required>
  <button class="search-btn" type="submit">get prayer times</button>
</form>
</div>
<div *ngIf="prayerData" class="mt-5">
 <h2 style="margin-left: 26%; display: flex;">Prayer Times</h2>
   <div class="prayer">
  <p id="salat">Fajr: </p><p>{{prayerData.Fajr}}AM</p>
  <p id="salat">Dhuhr: </p><p>{{prayerData.Dhuhr}}PM</p>
  <p id="salat">Asr: </p><p>{{prayerData.Asr}}PM</p>
  <p id="salat">Maghreb: </p><p>{{prayerData.Maghrib}}PM</p>
  <p id="salat">Al-Isha: </p><p>{{prayerData.Isha}}PM</p>
</div>
</div>


<router-outlet />
</div>